.pendingOrders{
  max-width: 70%;
  margin: 5px auto;
}
.pendingOrders-heading{
  background-color: orangered;
  color: white;
  margin: 5px;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
}
table{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0 auto;
}
td,th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even){
  background-color: #dddddd;
}
th{
  font-size: 25px;
}
