<main class="main-body">
  <img src="welcome-center.png" class="img-welcomeCenter" style="display:block,margin:0 auto">
  <h2 class="home-h2">Organise Your <br>
    todos now<br>
    <%=link_to "Get started",todos_path,class:"get-started"%>
  </h2>
</main>
