.notice , .alert{
  font-family: sans-serif;
  max-width: 50%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: rgba(129, 241, 129, 0.897);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid darkgreen;
  color: darkgreen;
  font-size: 20px;
}
strong{
 font-weight: bold;
}
.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-menu > li a{
  color: white;
  font-size: 18px;
  padding: 8px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid white;
}
.nav-menu >li a:hover{
  font-size: 21px;
}
.header-greetings{
  font-size: 21px;
}
