
.forgotPassword-box,.changePassword-box{
  font-family: sans-serif;
  max-width: 29%;
  margin: 20px auto;
  border: 3px solid transparent;
  border-radius: 20px;
  box-shadow: 2px 2px 5px gray;
}
.forgotPassword-box #new_user{
  border-bottom: 2px dotted;
}
.forgotPassword-box input[type="email"] {
  display: block;
  margin : 10px auto;
  width: 85%;
  font-size: 25px;
  padding: 5px;
  text-align: center;
  border: 2px solid rgb(65, 113, 216);
  border-radius: 10px;

}
#new_user input[type="submit"]{
  display: block;
  margin: 10px auto;
  margin: 20px auto;
  width: 85%;
  text-align: center;
  background-color: rgb(37, 168, 37);
  color: white;
  font-weight: bold;
  border: 5px solid transparent;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
}
