// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.Header{
  display: flex;
  align-items: center;
}
.home-h2{
  max-width:  40%;
  margin: 0 auto;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  color: rgba(13, 12, 15, 0.911);

}
.get-started{
  text-align: center;
  display: block;
  margin-top:10px;
  text-decoration: none;
  background-color: rgb(7, 121, 12);
  color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
}

.get-started:hover{
 background-color: rgb(94, 67, 136);
}
.img-welcomeLeft{

  padding: 10px;
  margin-left:40px ;
}
.img-welcomeRight{
  padding: 10px;
  margin-right:40px ;
}
img.img-welcomeCenter{
display: block;
padding: 5px;
margin-right: auto;
margin-left: auto;
margin-top: 10px;
margin-bottom: 10px;
}

.dropdown{
  font-family: sans-serif;
  position: relative;
  display:inline-block ;
  cursor: pointer;
}
.user-content{
  display: none;
  width: 200px;
  top: 45px;
  right: 10px;
  background-color: white;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 5px auto;
}
.user-content > p {
  padding: 2px;
}
.user-content > p a{
  font-size: 15px;
  text-decoration: none;
  color: black;
}
.dropdown:hover  > .user-content{
  display: flex;
  align-items: center;
}
.user-content > p a:hover{
  color: rgba(255, 68, 0, 0.904);
}
.name-icon{
  display: inline-block;
  height: 23px;
  width: 25px;
  padding: 8px;
  text-align: center;
  border-radius: 50%;
  background-color: #c2185b;
  color: white;
  margin-right: 5px;
  font-family: monospace;
}
